/* body{
    text-align: center;
} */
.imgAndText{
    padding: 100px;
}
.img-huidong{
    /* position: relative;
    padding-top: 5%;
    right: 10%;
    text-align: end; */
    float: right;
}

.title{
    width:fit-content;
    border-bottom: 8px solid rgb(214, 230, 143);
}
.content{
    color: rgb(243, 241, 213);
    font-size: xx-large;
    
}