  h1 {
     text-align: center;
  }
  h4{
      text-align: center;
  }

  .form-group{
    font-size: x-large;
  }
  form{
       
    color: #fff;
    /* left: 30%;
    top:  15%;
    /* position: absolute; */
    /* font-size: xx-large; */
    /* color: #fff; */ 
    width: 67%;
    
    /* height: 80%; */
  }
  