  
  form{
    /* left: 30%;
    top:  15%;
    /* position: absolute; */
    /* font-size: xx-large; */
    /* color: #fff; */ 
    width: 500px;
    background: rgb(4, 4, 105);
    /* height: 80%; */
  }
  