body{
    color: #fff;
}
.Project1{
    margin: 50px;
    border: rgb(204, 212, 233) solid 5px;
    padding: 15px;
    height: 550px;
}

.Project2{
    margin: 50px;
    border: rgb(204, 212, 233) solid 5px;
    padding: 15px;
    height: 550px;
}

.img-project1{
    float: left;
    padding: 40px 50px;
}

.img-project2{
    float: left;
    padding-left: 500px;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 55px;
}

.project1-name{
    text-decoration: underline;
    text-align: end;
    /* float: right; */
    padding: 0;
    margin: 0;
}

.project2-name{
    text-decoration: underline;
    text-align: end;
    /* float: right; */
    padding: 0;
    margin: 0;
}

p{
    font-size: 30px;
}
